.body {
    color: black;
    font-family: Arial, monospace;
}

.flash{
    padding:10px;
}

.flash.success{
    border: 1px;
    background: green;
}
.flash.error{
    border: 1px;
    background: red;
}